
.gc-nav-separation {
	height: 100px;
}

form {
    width: 80%;
    padding 1em;
    border 1px solid #CCC;
    border-radius: 1em;
}

form div + div {
    /* puts space between form elements */
    
}

input {
    width: 250px;
    
    /* I took this shit from the mozilla guide on forms, 
     * Not sure what all of it does */
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus {
    border-color: #212834;
}


input:invalid {
    border: 1px solid red;
}



textarea:invalid {
    border: 1px solid red;
}



.question {
    font-family: 'Roboto';
	margin-top: 3em;
}

.gc-radio-label {
	font-weight: 400;
}

input[type=text] {
	width: 80%;
	border-radius: 3px;
}

textarea {
	width: 50%;
	border-radius: 3px;
	
}

.gc-form-title {
	padding-top: 30px;
}

.gc-button {
	padding-bottom: 35px;
}
