
.gc-nav-separation {
	height: 100px;
}

form {
    width: 80%;
    padding 1em;
    border 1px solid #CCC;
    border-radius: 1em;
}

form div + div {
    /* puts space between form elements */
    margin-top: 1em;
}

input {
    width: 250px;
    
    /* I took this shit from the mozilla guide on forms, 
     * Not sure what all of it does */
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus {
    border-color: #212834;
}


input:invalid {
    border: 1px solid red;
}

/*
input:valid {
    border: 2px solid green
}
*/

textarea:invalid {
    border: 1px solid red;
}

/*
textarea:valid {
    border: 2px solid green
}
*/

.question {
    font-family: 'Roboto', bold;
}

.gc-event-radio {
	font-family: 'Roboto';
	font-weight: 400;
}

