.home-page {
    padding-top: 90px; /* temporarily increased from 50px */
	padding-bottom: 60px; 
	
	font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.gc-slider {
    position: relative;
    margin: auto;
    width: 70%;
    height: 320px;
    z-index: 0;    
}

.gc-slider-navigation {
    position: absolute;
    z-index: 1;
    top: 280px;
    left: 48%;
}


#gc-left-slide-arrow, #gc-right-slide-arrow {
    color: #ffffff;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    font-size: 22px;
    background: rgb(00, 00, 00); /* fallback color */
    background: rgba(00, 00, 00, 0.5);
}

.gc-active-slide {
    list-style-type:none;
}

.gc-slide-img {
    position: absolute;
    width: 100%;
    max-height: 100%;
}

.gc-calendar {
    padding-top: 20px;
    margin: 10px 15% 15px 15%;
    box-shadow:
    inset 0 7em 10em -5em rgba(255,255,255,0.6),
    0 0.3em 0.5em -0.2em rgba(100,100,100,1),
    0 1em 2em -0.75em rgba(100,100,100,0.75),
    0 1em 3em -0.5em rgba(100,100,100,0.5),
    0 3em 3em -0.25em rgba(100,100,100,0.2);
    z-index: 999;
}

#calendar {
	padding-bottom: 30px;
    width: 90%;
    //max-height: 500px;
    //overflow: auto;
    margin: auto;
}


