
.gc-login-form {
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #ffffff;
    margin: 0px 20% 120px 20%;
    box-shadow:
    inset 0 7em 10em -5em rgba(255,255,255,0.6),
    0 0.3em 0.5em -0.2em rgba(100,100,100,1),
    0 1em 2em -0.75em rgba(100,100,100,0.75),
    0 1em 3em -0.5em rgba(100,100,100,0.5),
    0 3em 3em -0.25em rgba(100,100,100,0.2);

}

.gc-login {
	display: inline-block;
}

.gc-form-title {
	padding-left: 5%;
	
}

.gc-registration-line {
	margin-left: 5%;
	margin-bottom: 35px;
}


#login-right {
	margin-top: 100px;
	float: right;
	padding-right: 20%;	
}

#login-left {
	padding-left: 15%;
	float: left;
	width: 60%;
}

#not-registered {
	margin-top: 5px;
	padding-left: 13%;
}
