@import url('mobile-home-page.css');
@import url('mobile-description.css');
@import url('mobile-festival-registration.css');
@import url('mobile-forms.css');
@import url('mobile-find-festival-by-list.css');
@import url('mobile-my-events.css');
@import url('mobile-map.css');
@import url('flex-embed.css');
@import url('mobile-aboutus.css');
@import url('login.css');
@import url('registration-form.css');


.error-message {
    margin: 50px 12% 30px 12%;
    width: 76%;
    box-shadow:
        inset 0 7em 10em -5em rgba(255,255,255,0.6),
        0 0.3em 0.5em -0.2em rgba(100,100,100,1),
        0 1em 2em -0.75em rgba(100,100,100,0.75),
        0 1em 3em -0.5em rgba(100,100,100,0.5),
        0 3em 3em -0.25em rgba(100,100,100,0.2);
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
}

.gc-error {
    text-align: center;
    min-height: 100%;
}   

.container-fluid {
    flex-direction: column;
}

.navbar-brand img {
    max-width: 90px;
    margin-left: 17%;
}

#gcm-main-navigation {
    background: #031c42;
    height: 55px;
    z-index: 1000;
}

.navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
    
}

#gcm-nav-items {
    margin-top: 5px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.gcm-nav-item {
    padding-top: 12px;
    color: #ebf6ff;
}

.gcm-nav-item a:link, .gcm-nav-item a:visited {
    text-decoration: none;
    color: #ebf6ff;
}

.gcm-nav-item a:hover {
    color: #fff;
}

.gcm-nav-item:hover {
    color: #fff;
}

.gcm-has-submenu {
    cursor: pointer;
}

.gcm-submenu {
    list-style-type: none;
    display: none;
    cursor: auto;
}


.gcm-submenu-active .gcm-submenu {
    background: #021127;
    display: block;
    width: 155px;
    margin-top: -100px;
    margin-left: -20px;
    border-radius: 8px 8px 8px 8px;
    border: 2px solid;
    border-top: 0px;
    border-color: #fff;
}

.gcm-submenu-item {
    padding-top: 12px;
}

.gcm-submenu-item a {
    padding: 5px 2em 5px 2em ;     
    margin: -5px -2em -5px -2em;
}

.gcm-last-submenu-item {
    padding-bottom: 12px;
}

#navbarSupportedContent {
    background: #031c42;
}

#footer {
    position: relative;
    right: 0;
    bottom: -55px;
    left: 0;
    height: 250px;
    width: 100%;
    background-color: #031c42;
    padding: 15px;
    padding-top: 25px;
    letter-spacing: 0.2px;
    
}

#footer-logo {
    width: 150px;
    margin-top: 10px;
    margin-right: 40px;
}

#gcm-footer {
    position: fixed;
    bottom:0;
    width: 100%;
    height: 50px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    background: #031c42;
    display: flex;
    overflow-x: auto;
    z-index: 2;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-links-container-left {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links-container-right {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.footer-links {
    color: #F5F5F5;
    text-decoration: none;
    margin-top: 4px;
}

.footer-links:hover {
    color: #E0E0E0;
}

.footer-links-text {
    margin-left: 10px;
    margin-right: 10px;
}

.footer-copyright {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    color: #8D98A7;
    font-size: 15px;
    margin-left: -20px;
}

.footer-media-containers {
    background-color: #031C42;
    width: 45px;
    height: 45px;
    border-radius: 8px;
    margin-left: 8px;
    margin-right: 8px;
    border: solid 3px;
    border-color: #D8BB76;
    
}

.footer-media-containers img {
    width: 40px;
    height: 40px;
    padding: 10px;
}

.footer-media-containers img:hover {
    background-color: #052A61;
    border-radius: 8px;
}

.footer-media {
    float: right;
    margin-top: 10px;
    display: flex;
}

.gcm-nav-low {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    letter-spacing: .07rem;
    font-size: 14px;
    font-weight: 500;
    color: #C8C4D4;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
    
}

.container-buttons-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
}

.dropdown-left {
    margin-bottom: 20px;
    margin-top: 20px;
}

.dropdown-right {
    margin-bottom: 20px;
    margin-top: 20px;
}

@media (max-width: 500px) {
    .dropdown-right {
        margin-top: 0;
    }
}

#gcm-footer i {
    font-size: 22px;
}

#gcm-menu {
    cursor: pointer;
}


.gcm-nav-low:hover {
    color: #ffffff;
}

.gcm-nav-low-active {
    color: #ffffff;
}

.gcm-nav-low-icon {
    font-size: 15px;
}

/* The side navigation menu */
#gcm-sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1; 
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #ffffff;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 22em;
  padding-bottom: 70px; 
  transition: 0.4s ease-in-out;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  text-align: center;
}

/* The navigation menu links */
#gcm-sidenav a {
  padding: 10px 8px 8px 20px;
  text-decoration: none;
  font-size: 16px;
  color: #031c42;
  display: block;
  overflow: none;
  transition: 0.3s;
  width: 180px;
}

/* When you mouse over the navigation links, change their color */
#gcm-sidenav a:hover {
  color: #888888;
}



@media screen and (max-height: 450px) {
  #gcm-sidenav a {font-size: 14px;}
}

@media screen and (min-height: 450px) and (max-height: 570px) {
    #gcm-sidenav {
        padding-top: 17em;
    }
    #gcm-sidenav a {
        padding-top: 10px;
    }
}

@media screen and (min-height: 660px) and (max-height: 770px) {
    #gcm-sidenav {
        padding-top: 20em;
    }
    #gcm-sidenav a {
        padding-top: 20px;
    }
}

@media screen and (min-height: 770px) and (max-height: 830px) {
    #gcm-sidenav {
        padding-top: 27em;
    }
    #gcm-sidenav a {
        padding-top: 25px;
    }
}

@media screen and (min-height: 830px) {
    #gcm-sidenav {
        padding-top: 33em;
    }
    #gcm-sidenav a {
        padding-top: 30px;
    }
}

@media screen and (min-height: 910px) {
    #gcm-sidenav {
        padding-top: 36em;
    }
    #gcm-sidenav a {
        padding-top: 40px;
    }
}

@media screen and (min-height: 1100px) {
    #gcm-sidenav {
        padding-top: 42em;
    }
    #gcm-sidenav a {
        padding-top: 60px;
    }
}


body {
    background-color: #f4faff;
    margin: 0px 0px 55px 0px;
}

@media (min-width: 1042px) {
    
    /* HEADER */
   .container-fluid {
    flex-direction: row;
    }
    #gcm-main-navigation {
        box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    }

    .navbar-toggler {
        display: none;
    }
    
    .navbar-brand {
        margin-top: -6px;
        width: 12%;
    }

    #navbarSupportedContent {
        display: inline;
    }
    
    .navbar-collapse {
        /*overrides flex-basis: 100% which causes nav-items to come below logo */
        flex-basis: auto;
    }
    
    .navbar-brand img {
        max-width: 85px;
        margin-left: 45%;
    }

    #gcm-nav-items {
        display: flex-inline;
        flex-direction: row;
        position: relative;
    }

    .gcm-nav-item {
        padding: 0px 0px;
    }

    .gcm-submenu-active .gcm-submenu {
        /* this prevents the gcm-nav-items from shifting, idk */
        position: absolute;
        padding-right: 2%;
        border-radius: 0px 0px 8px 8px;
        margin-top: 18px;
    } 
    
    /* MOBILE FOOTER */
   
    #gcm-footer {
        display: none;
    }   

    /* DESCRIPTION PAGE */

    #gcm-description-page {
        display: none;
    }

    .description-page {
        display: block;
    }
    .cover-photo {
        background-color: #021127;
    }

    .Article-coverImage {
        position: relative;
        transition: height 0.3s ease 0s;
        background: linear-gradient(
          to bottom,
          rgba(2,17,39,0) 0%, rgba(2,17,39,0) 65%, rgba(2,17,39,0.2) 74%, rgba(2,17,39,0.7) 100%
          );
        height: 270px;
        max-width: 1920px;
        max-height: 1080px;
    }
    .Article-coverImage h1 {
        position: absolute;
        font-family: 'Roboto', sans-serif;
        text-decoration: underline #E6C571 1px;
        text-underline-offset: 3px;
        color: #fff;
        top: 20%;
        width: 75%;
        margin-left: 12.5%;
        font-size: 35px;
        text-align: center;
        vertical-align: middle;
    }

    .FlexEmbed--2by1:before{
        padding-bottom: 20%;
    }


    .FlexEmbed:before {
        content: "";
        display: block;
        width: 100%;
    }

    .festival-location {
            position:absolute;
            bottom: 4%;
            color: #fff;
            left: 10.5%;
            font-weight: 400;
    }

    #town, #country {
            color: #E8E8E8;
            font-size: 24px;
            font-weight: 300 bold;
     }

    #month, #date, #year {
            color: #CECECE;
            font-size: 24px;
            font-weight: 300;
    }

    .dot {
            color: #E8E8E8;
            font-size: 18px;
            font-weight: 300;
    }

    .main-content {
        padding: 1% 0% 3% 1.5% ;
        position: relative; 
        background: rgba(255,255,255, 1);
        margin:-10px 10% 10px 10%;
        box-shadow:
        inset 0 7em 10em -5em rgba(255,255,255,0.6),
        0 0.3em 0.5em -0.2em rgba(100,100,100,1),
        0 1em 2em -0.75em rgba(100,100,100,0.75),
        0 1em 3em -0.5em rgba(100,100,100,0.5),
        0 3em 3em -0.25em rgba(100,100,100,0.2);
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        max-width: 98%;	
    }

    .description {
        text-align: justify;
        overflow: hidden;
        height: 270px;
        padding-top: 50px;
        margin-bottom: 0px;
        font-family: 'Georgia';
        font-weight: 300;
        font-size: 16px;
        left: 0.5%;
    }

    #gc-description-text {
            white-space: pre-line;
    }
    
    .description:hover {
            -webkit-box-shadow: inset rgba(0, 0, 0, 0.11) 0px 0px 0px 1px;
            -moz-box-shadow: inset rgba(0, 0, 0, 0.11) 0px 0px 0px 1px;
            box-shadow: inset rgba(0, 0, 0, 0.11) 0px 0px 0px 1px;
            border-radius: 8px;
            cursor: pointer;


    }

    .twitter-share-button {
        vertical-align: bottom; /* align twitter button with fb button */
    }

    .festival-image {
        

        
        background-color: #fff;

        width: 94%;
        border: 3px #fff solid;
        -webkit-box-shadow: 0 8px 6px -6px black;
               -moz-box-shadow: 0 8px 6px -6px black;
                    box-shadow: 0 8px 6px -6px black;
                    
    }
    
    .festival-image img {
        width: 100%;
    }

    .image-overlay {
        position: relative;
        margin-top: -5.5%;
    }

    .gc-horizontal-line {
        height: 1px;
        width: 75%;
        margin-bottom: 30px;
        margin-top: 20px;
        margin-left: 10%;
        background: black;
        background:-moz-linear-gradient(left, #FFFFFF 0%,#4e5f7c 50%,#FFFFFF 100%); 
        background:-webkit-linear-gradient(left, #FFFFFF 0%,#4e5f7c 50%,#FFFFFF 100%); 
        background:linear-gradient(left, #FFFFFF 0%,#4e5f7c 50%,#FFFFFF 100%);
    }

    .main-info {
        margin-left: -2.2%;
        min-height: 550px;
        margin-bottom: 30px;
        
    }

    .main-info li span{
            color: #424B54;
    }

    .main-info li span:hover, .main-info li span:active {
            background-color: #052A61;
            color: #ffffff;
            cursor: pointer;
    }

    .main-info-content {
            white-space: pre-line;
            font-family: georgia;
            padding-right: 60px;
    }

    .tab-title {
            font-weight: bold;
    }

    .nav > li > span {
        position: relative;
        display: block;
        padding: 10px 15px;
        border-radius: 4px;
    }

    .main-info-nav-list > li.active > span,
    .main-info-nav-list > li.active > span:focus,
    .main-info-nav-list > li.active > span:hover {
        background-color: #031c42 !important;
        color: #fff;
    }
    
    /* FESTIVAL REGISTRATION */

    .gc-festival-registration {
        padding-top: 50px;
        padding-bottom: 30px;
        padding-left: 3%;
        padding-right: 1%;
        background-color: #ffffff;
        margin: 10px 20% 70px 20%;
        box-shadow:
        inset 0 7em 10em -5em rgba(255,255,255,0.6),
        0 0.3em 0.5em -0.2em rgba(100,100,100,1),
        0 1em 2em -0.75em rgba(100,100,100,0.75),
        0 1em 3em -0.5em rgba(100,100,100,0.5),
        0 3em 3em -0.25em rgba(100,100,100,0.2);

    }
    
    .input-group {
        width: 50%;
    }

    .gc-festival-form-first-title {
        text-align: center;
        margin-bottom: 60px;
    }
    
    .gc-festival-form-title {
        text-align: center;
        color: #031C42;
        padding-bottom: 20px;
        padding-top: 50px;
    }

    /* FIND FESTIVAL LIST */
    .gc-find-a-festival {
        min-height: 600px;
    }
    .gc-find-a-festival-container {
    }

    /* HOME PAGE */
    #gc-slider {
        display: block;
        position: relative;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        height: 320px;
    }
    
    .gc-slide {
        margin: auto;
    }

    .gc-slide-img {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        height: 100%;
        /* max-height: 100%; */
    }

    #gcm-calendar {
        width: 70%;
        margin: auto;
        margin-top: 10px;
        border-radius: 2px;
        box-shadow:
            inset 0 7em 10em -5em rgba(255,255,255,0.6),
            0 0.3em 0.5em -0.2em rgba(100,100,100,1),
            0 1em 2em -0.75em rgba(100,100,100,0.75),
            0 1em 3em -0.5em rgba(100,100,100,0.5),
            0 3em 3em -0.25em rgba(100,100,100,0.2);
    }
    
   
}

@media (max-width: 1042px) {
    #footer {
        display: none;
    }
}

@media (min-width: 1600px) {
    /* HOME PAGE */
    #gcm-footer {
        display: none;
    }
    #gcm-calendar {
        width: 60%;
    }
    #gc-splide-container {
    width: 60%;
    }
}

