.gc-festival-registration {
    padding-top: 15px;
    padding-left: 1%;
    padding-right: 1%;
}

.question label{
    padding-bottom: 3px;
}

#datetimepicker1, #datetimepicker2 {
    width: 60%;
}

#event-basics {
    padding-bottom:50px;
    /* font-family:" Lato"; */
}

.question {
    /* font-size: 15px; */
    /* font-weight: 300; */
    /* font-family: 'Roboto'; */
}

#festival-questions {
    padding-bottom: 40px;
}

#festival-masterclass-questions {
    padding-bottom: 50px;
}

#practical-information-questions {
    padding-bottom: 15px;
}

#competition-questions {
    padding-bottom: 50px;
}

#fc-masterclass-questions {
    padding-bottom: 50px;
}


#workshop-questions {
    padding-bottom: 70px;
}

