input:focus {
    border-color: #212834;
}

input:invalid {
    border: 1px solid red;
}

textarea:invalid {
    border: 1px solid red;
}

input[type="text"] {
    width: 240px;
}

input[type="radio"] {
    width: 10%;
}

textarea {
    width: 50%;
    border-radius: 3px;	
}

.question {
    margin-top: 15px;
}
