


#gcm-calendar {
    padding: 20px 3%;
}

.fc-day-today {
    background-color: #f4faff !important;
}

#calendar {
    background-color: #ffffff;
    padding: 12px;
    border-radius: 7px;
    border: 1px solid;
    border-color: #031c42;
}

#gcm-calendar-event-type-filter {
    font-weight: 500;
    font-size: 16px;
    padding: 5px 0px 5px 20px;
    border: solid 4px #1D3533;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 200px; 
    border-radius: 10px;
    background-color: #f4faff;
}

/* FULL CALENDAR */


.fc--button {
    /* removes button between month and week buttons */
    display: none !important;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
    /* resets border radius for month button */
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
}

.fc-theme-standard td, .fc-theme-standard th {
    border: 1px solid #D6D6D6;
}


.fc-theme-standard .fc-scrollgrid {
    border: 1px solid #D6D6D6;
}

.fc th {
    background: #ffffff;
}

.fc a:hover {
    color: #063275;
}

.fc-col-header-cell-cushion {
    color: #031c42;
    text-decoration: none;
}

.fc .fc-daygrid-day-number {
    color: #031c42;
    text-decoration: none;
}

@media (min-width: 1042px) {
    #gcm-calendar {
        background-color: #ffffff;
    }
    #calendar {
        background-color: #ffffff;
        padding: 12px;
        border: 0px;
    }
    .fc-toolbar-title h2 {
        font-size: 5px;
    }
    #gcm-calendar-event-type-filter {
        background-color: #ffffff;
    
}
