@import url('mobile-description.css');

#gcm-main-navigation {
    background: #102542;
    height: 90px;
}

#gcm-nav-items {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.gcm-nav-item {
    color: #ffffff;
    /* "justify-content: space-around" takes care of padding */
}

.gcm-submenu {
    list-style-type: none;
    display: none;
}

.gcm-submenu-active .gcm-submenu {
    background: #0d1c30;
    display: block;
}

#navbarSupportedContent {
    background: #102542;
}

@media (min-width: 640px) {
    .navbar-toggler {
        display: none;
    }

    #navbarSupportedContent {
        display: inline;
    }
    
    .navbar-collapse {
        /*overrides flex-basis: 100% which causes nav-items to come below logo */
        flex-basis: auto;
    }

    #gcm-nav-items {
        display: flex-inline;
        flex-direction: row;
    }

    .gcm-nav-items {
        position: relative;
    }

    .gcm-submenu-active .gcm-submenu {
        /* this prevents the gcm-nav-items from shifting, idk */
        position: absolute;
        padding-right: 2%;
    }
}

body {
    background-color: #f4faff;
}
