
.container-margin {
  margin-left: 3%;
}

.container {
  width: 300px;
  text-align: center;
  margin-bottom: 10px;
}

/*Styling Selectbox*/
.dropdown {
  width: 200px;
  display: inline-block;
  border-radius: 4px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all .1s ease;
  position: relative;
  height: 100%;
  font-weight: bold;
  font-size: 16px;
  background-color: #031c42;
  color: #ffffff;
  text-align: center;
}
.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px
}
.dropdown .select > i {
    font-size: 15px;
    color: #ffffff;
    cursor: pointer;
    transition: all .1s ease-in-out;
    float: right;
    line-height: 25px;
    
}
.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    background-color: #052A61;
}
.dropdown:active {
    background-color: #031c42;
}
.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 2px 2px 0 0;
    background-color: #052A61;
}
.dropdown.active .select > i {
    transform: rotate(-90deg)
}
.dropdown .dropdown-menu {
    position: absolute;
    background-color: #031c42;
    width: 100%;
    left: 0;
    margin-top: 0px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 0px 5px 5px;
    overflow: hidden;
    display: none;
    max-height: 250px;
    overflow-y: auto;
    z-index: 9;
    color: #ffffff;
    text-align: center;
}
.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .1s ease-in-out;
    cursor: pointer
} 
.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}
.dropdown .dropdown-menu li:hover {
    background-color: #052A61;
}
.dropdown .dropdown-menu li:active {
    background-color: #052A61;
}


#gcm-calendar {
    padding: 20px 3%;
}



#calendar {
    background-color: #ffffff;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid;
    border-color: #e0e0e0;
}

#gcm-calendar-event-type-filter {
    font-weight: 500;
    font-size: 16px;
    padding: 5px 0px 5px 20px;
    border: solid 4px #1D3533;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 200px; 
    border-radius: 10px;
    background-color: #f4faff;
}

/* FULL CALENDAR */

.fc-day-today {
    background-color: #f4faff !important;
}

.fc-toolbar-title {
        font-size: 20px !important;
    }

.fc--button {
    /* removes button between month and week buttons */
    display: none !important;
}

.fc .fc-button-primary {
    background-color: #031c42;
}

.fc .fc-button-primary:hover {
    background-color: #052A61;
}

.fc .fc-button-active {
    background-color: #052A61 !important;
}

.fc-prev-button {
    margin-bottom: 2px !important;
}

.fc-next-button {
    margin-left: 1px !important;
    border-radius: 4px !important;
    margin-bottom: 2px !important;
}

.fc-dayGridMonth-button {
    margin-bottom: 2px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    font-weight: bold !important;
}

.fc-dayGridWeek-button {
    margin-bottom: 2px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    font-weight: bold !important;
}

.fc-toolbar-chunk {
    
    text-align: center !important;
}

.fc-today-button {
    text-align: center !important;
    display: center;
}
.fc-button-primary {
    text-align: center !important;
    display: center;
}

.fc-button {
    text-align: center !important;
    display: center;
}

.fc-today-button {
    padding-top: 8px !important;
    padding-bottom: 7px !important;
    margin-bottom: 1px !important;
    font-weight: bold !important;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
    /* resets border radius for month button */
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
}

.fc-theme-standard td, .fc-theme-standard th {
    border: 1px solid #D6D6D6;
}


.fc-theme-standard .fc-scrollgrid {
    border: 1px solid #D6D6D6;
}

.fc th {
    background: #ffffff;
}

.fc a:hover {
    color: #063275;
}

.fc-col-header-cell-cushion {
    color: #031c42;
    text-decoration: none;
}

.fc .fc-daygrid-day-number {
    color: #031c42;
    text-decoration: none;
}

@media (max-width: 451px) {
    .fc-button-primary {
        margin-left: 0 !important;} 
}

@media (min-width: 1042px) {
    .container-margin {
        margin-top: 30px;
        margin-left: 0;
    }
    .container {
        width: 300px;
        text-align: left;
        margin-left: 0;
        margin-bottom: 0;
    }
    #gcm-calendar {
        background-color: #ffffff;
    }
    #calendar {
        background-color: #ffffff;
        padding: 12px;
        border: 0px;
    }
    .fc-toolbar-title {
        font-size: 25px !important;
        margin-top: -72px !important;
        margin-left: 25px !important;
    }
    .fc-dayGridMonth-button {
        margin-top: -72px !important;
        margin-bottom: 37px !important;       
    }

    .fc-dayGridWeek-button {
        margin-top: -107px !important;
    }
    #gcm-calendar-event-type-filter {
        background-color: #ffffff;
    }
}

@media (min-width: 1150px) {
    .container-margin {
        margin-top: 30px;
        margin-left: 0;
    }
    .container {
        width: 300px;
        text-align: left;
        margin-left: 0;
        margin-bottom: 0;
    }
    #gcm-calendar {
        background-color: #ffffff;
    }
    #calendar {
        background-color: #ffffff;
        padding: 12px;
        border: 0px;
    }
    .fc-toolbar-title {
        font-size: 36px !important;
        margin-top: -76px !important;
    }
    .fc-dayGridMonth-button {
        margin-top: -72px !important;
        margin-bottom: 37px !important;       
    }

    .fc-dayGridWeek-button {
        margin-top: -107px !important;
    }
    #gcm-calendar-event-type-filter {
        background-color: #ffffff;
    }
}
