
#gcm-calendar {
    padding: 20px 1%;
}

#gcm-calendar-event-type-filter {
    background: #f4faff;
}

/* FULL CALENDAR */


.fc--button {
    /* removes button between month and week buttons */
    display: none !important;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
    /* resets border radius for month button */
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
}

.fc-theme-standard td, .fc-theme-standard th {
    border: 1px solid #102542;
}


.fc-theme-standard .fc-scrollgrid {
    border: 1px solid #102542;
}

.fc th {
    background: #e6c571;
}

.fc a:hover {
    color: #102542;
}

.fc-col-header-cell-cushion {
    color: #102542;
    text-decoration: none;
}

.fc .fc-daygrid-day-number {
    color: #102542;
    text-decoration: none;
}
