@import url('flex-embed.css');
@import url('description-page.css');
@import url('home-page.css');
@import url('https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500italic,500,700,700italic,900,900italic');
@import url('registration-form.css');
@import url('login.css');
@import url('festival-registration.css');
@import url('forms.css');
@import url('404.css');
@import url('find-a-festival.css');

a:focus { 
    outline: none; 
}

body {
    background-color: #F4FAFF;
}

.main-navigation {
    position: fixed;
    width: 100%;
    z-index: 1000;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    height: 70px;
    background-color: #212834;
    letter-spacing: 0.02px;
    list-style-type: none;
    border-top: 0.01px #000000 solid;
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    
}

ul.row {
 list-style-type: none;
 }



.nav-item a:link, .nav-item a:visited {
    padding:17px 10px 13px 10px;
    text-decoration: none;
    color: #EDEDEE;
    outline: none;
    transition: height 0.2s ease-in-out 0s, line-height 0.2s ease-in-out 0s;
    transition-property: height, line-height;
    transition-duration: 0.2s, 0.2s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: 0s, 0s;
}

.nav-item a:hover, .nav-item a:active {
    color: #ffffff;
    padding-bottom: 22px;
    border-width:0px 0px 4px 0px; 
    border-style: solid; 
    border-color: #E6C571;
}

.main-navigation .pull-right {
    padding-right: 0px;
}

.left-nav, .right-nav {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

#logo {
	margin-left: 11%;
	margin-right: 3%;
}


.nav-item {
	width: 12%;
    list-style-type: none;
    text-align: center;
    padding-top: 25px;
}

#login {
    //padding:17px 5px 13px 11px;
    color: #341E00;  
}

#login a:link, #login a:visited {
    padding:17px 10px 12px 10px;
    background-color: #E6C571;
    color: #212834;
    border-radius: 5px 5px 5px 5px;
}

#login a:hover, #login a:active {
    color: #463217;
    height: 50px;
    border-width: 0.14em 0.14em 0.14em 0.14em; 
    border-style: solid; 
    border-color: #E6C571;
    border-radius: 6px 6px 6px 6px;
}

#gc-logout {
	padding-top: 25px;
	margin-left: -2%;
}

#gc-logout a:link, #gc-logout a:visited {
    padding:17px 10px 13px 10px;
    text-decoration: none;
    color: #cacacc;
    outline: none;
    transition: height 0.2s ease-in-out 0s, line-height 0.2s ease-in-out 0s;
    transition-property: height, line-height;
    transition-duration: 0.2s, 0.2s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: 0s, 0s;
}

#gc-logout a:hover, #gc-logout a:active {
    color: #EDEDEE;
}


.footer {
    background-color: #212834;
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    padding-top: 25px;
    letter-spacing: 0.2px;
    bottom: 0;
    
}

.footer a:link, .footer a:visited {
    color: #ffffff;
    text-decoration: none;
}

.footer a:hover, .footer a:active {
    color: #bbbbbb;
    outline: none;
    text-decoration: none;
    
}
.footer-links {
    padding-bottom: 30px;
    //text-align: center;
}

.foot-link, .social-link {
    display: inline;
}

.foot-link {
    text-align: center;
}

.social-media {
    text-align: center;
    margin-left: -2.5%;
    padding-bottom: 0px;
}

.social-link {
    margin: 0% 0.3% 0% 0.3%;
}

.company-name {
    text-align: center;
    font-family: 'Lato';
    font-weight: 900;
    font-size: 30px;
}

.copyright {
    color: #b2a8a8;
    text-align: center;
    padding-bottom: 60px;
}

.gc-footer-line {
	height: 1px;
	width: 75%;
	margin-left: 12%;
	margin-bottom: 70px;
	background:-moz-linear-gradient(left, #212834 0%,#E6C571 50%,#212834 100%); 
    background:-webkit-linear-gradient(left, #212834 0%,#E6C571 50%,#212834 100%); 
    background:linear-gradient(left, #212834 0%,#E6C571 50%,#212834 100%); 
}
